.seatmap {
    background-color: #171a1c;
    background-image: url('../img/home.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.seat-picker__row--selected, .seat-picker__row:hover {
    background-color: #171a1c;
}