.seatmap {
    background-color: #171a1c;
    background-image: url('../img/home.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.seat-avail:hover {
    background-color: darkgreen;
}

.seat-avail {
    background-color: green;
}

.seat-taken {
    background-color: red;
}